@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #792255, #E4567B);
    
}

main {
    background-color:white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #330e24a4;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: #361D70 ;
    text-align: center;
    text-shadow: 1px 1px 2px #180d31c4;
}

h2 {
    color: #E4567B;
}

p {
    text-align: justify;
}